## ------------------------ D A T A --- E X P L O R A T I O N ------------------------

### We start by importing the necessary libraries

In [4]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import cufflinks as cf
import seaborn as sns
import plotly.express as px
import requests
import re
import json

%matplotlib inline

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from datetime import datetime

init_notebook_mode(connected=True)
cf.go_offline()

In [5]:
pd.options.display.max_rows = 999

In [6]:
df = pd.read_csv('datasets/AccidentesAviones.csv')
df.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [7]:
df.shape, df.columns

((5008, 18),
 Index(['Unnamed: 0', 'fecha', 'HORA declarada', 'Ruta', 'OperadOR',
        'flight_no', 'route', 'ac_type', 'registration', 'cn_ln', 'all_aboard',
        'PASAJEROS A BORDO', 'crew_aboard', 'cantidad de fallecidos',
        'passenger_fatalities', 'crew_fatalities', 'ground', 'summary'],
       dtype='object'))

In [8]:
df.drop('Unnamed: 0', axis=1).duplicated().value_counts()

False    5008
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [10]:
for col in df:
    print(f'----------{col}----------\n{df[col].value_counts()}\n\n')

----------Unnamed: 0----------
0       1
3336    1
3343    1
3342    1
3341    1
       ..
1668    1
1667    1
1666    1
1665    1
5007    1
Name: Unnamed: 0, Length: 5008, dtype: int64


----------fecha----------
August 31, 1988       4
September 11, 2001    4
February 23, 1945     3
December 28, 1946     3
August 27, 1992       3
                     ..
December 04, 1958     1
December 23, 1958     1
December 24, 1958     1
December 26, 1958     1
July 06, 2021         1
Name: fecha, Length: 4577, dtype: int64


----------HORA declarada----------
?       1504
1500      35
1400      30
1100      30
1700      29
        ...
2129       1
1002       1
1151       1
0909       1
1914       1
Name: HORA declarada, Length: 1217, dtype: int64


----------Ruta----------
Moscow, Russia                                         16
Manila, Philippines                                    15
New York, New York                                     14
Sao Paulo, Brazil                                      13
Cairo, Egypt                                           13
                                                       ..
NAS Argentia, Placentia Bay,  Newfoundland,  Canada     1
Anzio, Italy                                            1
Nipe Bay, Cuba                                          1
Near Roccatamburo di Poggiodomo, Italy                  1
Palana, Russia                                          1
Name: Ruta, Length: 4125, dtype: int64


----------OperadOR----------
Aeroflot                            253
Military - U.S. Air Force           141
Air France                           74
Deutsche Lufthansa                   63
United Air Lines                     44
                                   ...
Sierra Pacific Airlines               1
Pathet Lao Airlines                   1
Military - West German Air Force      1
Cessnyca                              1
Kamchatka Aviation Enterprise         1
Name: OperadOR, Length: 2268, dtype: int64


----------flight_no----------
?               3682
-                 36
1                 11
101                9
6                  7
4                  7
901                7
115                6
301                6
201                6
703                6
701                5
217                5
706                5
205                5
261                5
302                5
7                  5
214                4
105                4
610                4
304                4
112                4
902                4
191                4
11                 4
103                4
343                4
10                 4
411                4
601                4
3                  4
21                 4
203                4
9                  4
8                  4
2                  4
512                4
542                4
202                4
23                 4
14                 4
22                 3
812                3
358                3
227                3
212                3
60                 3
114                3
12                 3
501                3
642                3
230                3
307                3
409                3
831                3
602                3
841                3
251                3
108                3
129                3
742                3
823                3
111                3
708                3
120                3
402                3
63                 3
548                3
502                3
514                3
200                3
16                 3
904                3
56                 3
007                3
006                3
585                3
736                3
401                3
140                3
498                3
40                 3
771                3
232                3
306                3
222                3
710                3
213                3
311                3
372                2
804                2
250                2
26                 2
389                2
676                2
503                2
741                2
005                2
102                2
99                 2
183                2
107                2
800                2
956                2
265                2
869                2
705                2
663                2
600                2
117                2
946                2
92                 2
529                2
802                2
406                2
403                2
444                2
773                2
045                2
168                2
553                2
720                2
604                2
73                 2
797                2
350                2
90                 2
811                2
870                2
965                2
255                2
235                2
182                2
193                2
603                2
855                2
2415               2
204                2
791                2
125                2
241                2
9268               2
221                2
760                2
670                2
17                 2
185                2
827                2
148                2
2801               2
3701               2
5719               2
583                2
843                2
709                2
001                2
139                2
702                2
458                2
145                2
825                2
1770               2
371                2
704                2
933                2
55                 2
130                2
352                2
712                2
507                2
15                 2
128                2
523                2
980                2
508                2
625                2
3932               2
66                 2
981                2
806                2
110                2
27                 2
964                2
655                2
661                2
816                2
440                2
256                2
630                2
405                2
772                2
330                2
134                2
923                2
723                2
28                 2
324                2
942                2
495                2
608                2
164                2
404                2
121                2
229                2
410                2
627                2
605                2
308                2
100                2
009                2
844                2
216                2
470                2
253                2
331                2
521                2
421                2
072                2
45                 2
19                 2
142                2
315                2
611                2
777                2
71                 2
151                2
500                2
967                2
32                 2
245                2
626                2
152                2
5                  2
971                2
513                2
314                2
5398               1
LH2904             1
1016               1
6715               1
808                1
133                1
362 / 3101         1
278                1
6901               1
8969               1
3379               1
434                1
2033               1
6291               1
SP9045             1
4272               1
795                1
593                1
433                1
4184               1
2133               1
2303               1
427                1
746                1
233                1
1994               1
2553               1
787                1
801                1
101A               1
7601               1
815                1
238                1
74                 1
3183               1
357                1
7208               1
826                1
387                1
7623               1
137                1
388                1
422                1
283                1
3456               1
106                1
1023               1
9035               1
3949               1
166                1
865                1
1288               1
33                 1
64                 1
V-1104             1
9981               1
086                1
763/1907           1
5925               1
961                1
211                1
3272               1
592                1
3943               1
733                1
42                 1
4146               1
2286               1
3378               1
206                1
243                1
296Q               1
16B                1
1141               1
775                1
5050               1
113                1
3132               1
1851               1
1363               1
764                1
803                1
254                1
9646               1
3780               1
443                1
1771               1
858                1
940                1
840                1
423                1
6 / 2              1
2306               1
6-103              1
1834               1
I-505              1
2268               1
035                1
5452               1
5055               1
H-528              1
365                1
460                1
1713               1
295                1
394                1
070                1
2119               1
268                1
6001               1
805                1
386                1
161                1
660                1
13                 1
7552               1
2808               1
1862               1
Canyon 5           1
474                1
635                1
1103               1
5634               1
46E                1
218                1
491                1
MZ721              1
751                1
C-519              1
2574               1
257                1
414                1
1712               1
032                1
824                1
052                1
839                1
075                1
5390               1
?/8301             1
2886               1
299/1482           1
1493/5569          1
590                1
2311               1
7533               1
004                1
2120               1
420                1
5002               1
4101               1
PLF 101            1
447                1
RV-7908            1
1525               1
9760D              1
226                1
4684               1
8911               1
016                1
KYU9357            1
1951               1
2350               1
883                1
4412               1
348                1
277                1
7100               1
731                1
834                1
80                 1
3407               1
574                1
GAI-9675           1
UT-471             1
3054               1
9655               1
1121               1
269                1
4203               1
38                 1
518                1
390                1
1549               1
199                1
81                 1
5022               1
IRC6895            1
SU821              1
888T               1
1404               1
8284               1
5428               1
7R-243             1
952                1
EP3704             1
9525               1
267                1
7503               1
294                1
3159               1
3190               1
2933               1
6491               1
1380               1
5007               1
972                1
3591               1
4050               1
Z92100             1
PS752              1
PC2193             1
PK8303             1
IX344              1
8501               1
5915               1
AH5017             1
370                1
SP-5007            1
991                1
LN-9209            1
6560               1
A4-238             1
9633               1
1600               1
36801              1
992                1
W9-011             1
599                1
8971               1
51                 1
1354               1
361                1
3002               1
363                1
7775               1
053                1
4509               1
236                1
4B                 1
Charter            1
7831               1
7412               1
9807               1
4590               1
224                1
1501               1
8261               1
1455               1
77                 1
175                1
93                 1
9755               1
1812               1
686 / -            1
587                1
LDF -9601/02       1
541                1
431                1
1907               1
873                1
1553               1
960                1
5904               1
6316               1
1420               1
8533               1
61                 1
1746               1
3142               1
310                1
226A               1
3838               1
990                1
725                1
3275               1
530                1
8509               1
814                1
3597               1
1278               1
LZ 129             1
3210               1
1047               1
1303               1
1602               1
5966               1
430                1
1153               1
522                1
091                1
1248               1
4226               1
1145               1
6865               1
S7-778             1
688                1
59                 1
2208               1
SP-612             1
5191               1
34                 1
4815               1
1154               1
141                1
6136               1
2937 / 611         1
HH-359             1
9642/2420          1
1627               1
2137               1
5481               1
634                1
6289               1
4230               1
5672               1
1301               1
9446               1
982                1
15A                1
8773               1
1996               1
FAM042             1
786                1
MF1285R            1
149                1
533                1
729                1
270                1
345                1
527                1
837                1
304/44             1
783                1
1799               1
9877               1
385                1
284                1
062                1
033                1
159                1
2230               1
18                 1
781                1
785                1
A-51               1
2723               1
329                1
CCCP-46764         1
4844-C             1
1030X              1
1422               1
451                1
792                1
292                1
57                 1
383                1
136                1
633                1
65/75              1
42 / 853           1
911                1
749                1
280D               1
002                1
1668               1
648                1
H926               1
545                1
853                1
158                1
5009               1
CAM5763            1
5135               1
2953               1
208B               1
615                1
1661               1
2903               1
215                1
1903               1
621                1
3630               1
W-4                1
863                1
44-2               1
F-28               1
322                1
6780               1
318                1
783/057            1
636                1
162                1
228/129            1
1-6-6A             1
417                1
1611               1
544                1
376                1
416W               1
1750               1
737                1
526A               1
266                1
4-2                1
165                1
43                 1
A-3                1
260                1
081                1
S85                1
651                1
75                 1
424                1
320                1
210                1
897                1
381                1
859                1
511                1
466                1
2005               1
201/8              1
153                1
739/14             1
7816               1
258                1
826/266            1
983                1
591                1
104                1
2511               1
20                 1
871                1
671                1
1658               1
207                1
538                1
1-11               1
1349               1
613                1
698                1
36                 1
891                1
830/18             1
738                1
375                1
0005               1
607E               1
300                1
67                 1
543                1
293                1
441                1
400                1
2611               1
1814               1
976                1
17K                1
629                1
24                 1
510/3              1
476                1
402/46             1
901A               1
560                1
845/26             1
711                1
721                1
25                 1
915                1
718 / 2            1
355                1
609                1
285                1
323                1
415                1
39                 1
928                1
297                1
810                1
984                1
209                1
1800               1
327                1
810-9              1
290                1
943                1
190                1
493                1
932                1
505                1
561                1
665                1
46                 1
248                1
7880/7628          1
A-513              1
SR316              1
2605               1
740                1
291                1
303                1
1008               1
231                1
2207               1
6963               1
4225               1
163                1
RSAF453            1
1691               1
7502               1
H-36               1
173                1
3843               1
5003               1
1736/4805          1
H-925              1
242                1
SU-331             1
B-2                1
3751               1
715                1
425                1
653                1
2860               1
730                1
6709               1
189                1
6515               1
4128               1
716 / -            1
48                 1
44                 1
674                1
350/134            1
628                1
595                1
767-103            1
3352               1
1039               1
3519               1
5109               1
878                1
7841               1
8381               1
847                1
7425               1
123                1
28M                1
1808               1
F-7                1
5463               1
143                1
850                1
8641               1
V-652              1
USAF672            1
IIAF552            1
HN431              1
JP1308             1
30H                1
3303               1
759                1
832                1
480                1
PA830              1
995                1
927                1
2885               1
E-46               1
NKJ801             1
864                1
977                1
3012               1
471                1
290 / 671          1
558                1
1036               1
696                1
446                1
631                1
954/575            1
157                1
537                1
504/400            1
435                1
6551               1
109                1
11-8               1
SU-512             1
5385               1
820                1
700Z               1
9570               1
1629               1
1491               1
30                 1
LZ130              1
366                1
1969               1
83                 1
485                1
1912               1
58                 1
845                1
1866               1
H-63               1
2174               1
903                1
JU 367             1
2501               1
296                1
763                1
557                1
809                1
118                1
A-13               1
A-053              1
150                1

Now we will delete the 'Unnamed: 0' column, as it contains a unique identifier for each row and is not needed. We will also rename the others columns in order to make more clear what information is contained on each of them.

Both of this changes will be performed in a copy of the original dataset so we can preserve the original data and access it every time we need to.

In [11]:
df2 = df.copy()

In [12]:
df.columns

Index(['Unnamed: 0', 'fecha', 'HORA declarada', 'Ruta', 'OperadOR',
       'flight_no', 'route', 'ac_type', 'registration', 'cn_ln', 'all_aboard',
       'PASAJEROS A BORDO', 'crew_aboard', 'cantidad de fallecidos',
       'passenger_fatalities', 'crew_fatalities', 'ground', 'summary'],
      dtype='object')

In [13]:
new_col_names = {'fecha':'date',
                 'HORA declarada': 'time',
                 'Ruta': 'accident_location',
                 'OperadOR': 'operator',
                 'PASAJEROS A BORDO': 'passengers_aboard',
                 'crew_aboard': 'crew_aboard',
                 'cantidad de fallecidos': 'total_fatalities',
                 'ground': 'ground_fatalities'}

df2.rename(columns = new_col_names, inplace = True)
df2.columns

Index(['Unnamed: 0', 'date', 'time', 'accident_location', 'operator',
       'flight_no', 'route', 'ac_type', 'registration', 'cn_ln', 'all_aboard',
       'passengers_aboard', 'crew_aboard', 'total_fatalities',
       'passenger_fatalities', 'crew_fatalities', 'ground_fatalities',
       'summary'],
      dtype='object')

In [14]:
df2.drop('Unnamed: 0', axis=1, inplace=True)
df2.columns

Index(['date', 'time', 'accident_location', 'operator', 'flight_no', 'route',
       'ac_type', 'registration', 'cn_ln', 'all_aboard', 'passengers_aboard',
       'crew_aboard', 'total_fatalities', 'passenger_fatalities',
       'crew_fatalities', 'ground_fatalities', 'summary'],
      dtype='object')

## Per column data transformations

### • Date and time columns

We will start by transforming the strings on this column into datetime objects and then creating a new column with only the year from it.

In [15]:
format_data = '%B %d, %Y'
def str_2_dt(val):
    return datetime.strptime(val, format_data)
def dt_year(val):
    return val.year

In [16]:
df2['date'] = df2['date'].apply(str_2_dt)
df2['year'] = df2['date'].apply(dt_year)
df2.year.value_counts().head(10)

1946    88
1989    83
1947    82
1948    78
1962    78
1972    77
1945    75
1951    75
1994    74
1970    73
Name: year, dtype: int64

In [17]:
df2.year.min(), df2.year.max()

(1908, 2021)

In [18]:
df2.loc[df2.year == 2021].shape

(7, 18)

In [19]:
for x in df2.time.unique():
    print(x)

1718
?
0630
1830
1030
0100
1520
2345
0515
0845
0700
0745
2130
1000
1655
1215
1740
1140
1315
1645
1342
1730
c 18:00
c 02:30
c 12:00
0530
0930
1527
c 13:15
0800
0830
0405
10:00
14:48
c 11:00
c 9:15
11:30
c 10:00
08:00
10:45
1700
09:18
1145
1130
2100
1101
1800
1010
0935
c 17:00
18:23
17:30
c:17:00
15:00
c 15:45
02:05
09:45
c: 2:00
2240
1300
1045
2330
2230
0900
0840
2000
0400
0648
0545
c 16:00
02:00
1930
1200
c 08:00
0010
c:09:00
0600
02:07
2007
14:30
1230
0740
1500
0315
1540
1120
2235
1600
c 13:00
1815
1415
0500
1100
0950
2245
1050
2342
0730
0333
0252
1900
0045
1518
0330
1835
2225
1436
0940
1420
2018
2008
2300
0955
0219
1940
0440
1915
1932
0352
1910
1020
0520
2200
0300
1400
0338
1047
0314
0323
2047
1938
1107
2050
1340
1840
1925
1040
1225
0423
1650
1530
1507
0803
c 20:40
1430
0445
21:30
1407
2217
0256
0411
c 23:00
1345
10:50
1841
0051
0755
c 09:00
1630
2115
0759
0945
1317
1448
0925
1620
1850
1635
1410
0815
1320
1015
1441
0442
1502
1748
1205
0413
0200
1150
1550
0915
c 20:35
0204
2210
0555
1126
1920
0850
2127
1151
1905
17:15
0122
1515
0647
0140
0055
2243
c 15:00
0412
2341
2317
0245
2303
2020
0415
0920
2336
1710
1548
0115
0130
1640
2030
1820
0002
0000
2120
0742
2025
1715
1510
1025
0054
2116
0410
0825
1005
0225
1658
0535
0640
2205
1240
2226
1255
0750
0949
1011
0213
0008
0105
1250
0030
2045
1115
2015
0914
1330
1950
0113
2113
03:59
18:25
11:03
02:47
08:12
17:00
20:55
11:45
c 11:15
c 01:00
13:00
07:40
10:30
13:15
20:10
21:10
12:15
08:30
06;15
04:19
09:15
c 02:00
01:17
09:31
c 03:30
07:30
11:20
04:33
20:00
00:57
18:30
03:30
03:41
08:18
c 20:15
23:30
c 10:30
13:10
19:19
1745
02:09Z
09:19
c 20:00
0138
1845
04:20
1218
0953
1459
0805
0240
2313
0939
1625
1248
1741
2307
1816
2340
0430
1849
0611
1004
1450
1229
0420
1425
0020
1810
0436
1327
1325
2114
2258
0833
0235
0720
2042
1241
2355
1705
0035
1637
1752
22:05
07:20
c 13:40
09:50
20:05
16:22
16:00
19:56
11:00
09:40
12:20
17:04
12:10
14:10
19:00
14:00
00:25
10:55
02:15
07:43
03:50Z
21:01
11:35
c 11:30
13:30
03:40
13:02
c 02:50
c 11:45
21:34
16:56
12:00
05:49
16:45
20:45
21:51
06:00
20:30
1409
0731
2059
0356
2325
1729
2203
0116
0153
1022
0544
0237
0203
0425
1049
1545
1954
0943
1750
1937
0910
1353
2209
1413
1214
0912
1720
0050
1135
1149
1412
0325
0907
2255
0428
1146
1855
0929
1623
0725
1509
0426
2207
19:15
01:38
15:43
00:20
17:34Z
02:23
08:10
03:10
08:25
08:07
03:34
04:40
08:45
11:29
0:00
11:46
01:00Z
07:00
21:05
15:40
16:02
03:00
14:45
00:50
c 06:30
2139
2055
0448
1144
1028
0335
0150
1951
1838
0222
2308
0128
0418
0350
1634
0841
2315
0228
2237
1842
1316
0834
1618
1454
0056
0710
1118
0844
0650
1105
0615
1355
0708
1350
1032
1434
2004
1003
1310
2125
0918
0923
1703
2211
0239
0057
2304
21:00
0905
0005
1953
2236
1112
1555
1156
1427
0624
0738
1223
14:20
0757
0023
2048
0726
1903
2359
1859
0657
1207
2040
0343
0340
0052
1449
0017
1323
0345
1455
0810
0951
0132
1725
1535
0135
0715
1432
1825
2352
1453
0018
0705
2103
0004
0001
1924
1802
1719
1346
0037
0753
1904
2310
0336
0337
2046
0155
1651
1805
0703
1758
0127
2254
1133
1312
1235
1257
1603
2224
01:14
1945
0006
1615
2319
2107
04:25
1129
0523
2206
1358
1405
0114
2334
2220
0610
0632
0318
0022
0201
1321
0310
1158
1252
1209
2032
1117
2140
0609
2350
2356
1647
1335
0902
2346
0639
0946
2212
1613
1529
1735
1035
2214
1642
1716
2324
2309
1525
1906
0947
16:57
0928
0816
0238
1538
2219
1847
1307
1657
1110
1439
1306
0822
2257
1152
1055
0447
2238
1558
0602
1139
2202
2253
1033
1231
1942
0304
1048
1220
2357
0112
0120
1933
2223
2057
1043
1136
0129
0211
1822
0205
0355
0857
2213
1426
0215
2124
1155
0540
1516
1817
1435
1009
1743
1329
2121
1853
0533
0401
2053
1541
2208
1557
0452
2052
1437
1224
2145
0111
2338
1612
1553
2244
1737
1348
2129
1002
1935
1837
1016
1549
0909
0506
1636
1419
1411
1053
0622
1759
1833
1919
1445
0206
1444
2239
1514
0649
1210
0933
1829
1652
2111
1751
2026
0031
0214
0957
900
0836
1826
0922
1313
0804
2320
1806
1423
2117
2348
0146
0529
2222
2021
1308
1102
1125
0123
1902
1721
1722
0802
1714
1204
1559
1827
2312
0047
1303
0143
0242
0606
1424
0255
0956
1918
1154
0503
1428
2014
2306
1347
09:00
1610
1843
1201
1349
0828
0754
0558
1059
1757
1031
0244
0058
1246
1406
0848
1305
1034
0837
1717
0124
1959
1533
0936
2012
2022
1243
0134
2035
1921
1821
0510
1738
1552
0655
1608
0820
13:20
1245
0952
0842
1452
1233
2031
13:05
1429
2033
1709
1727
0233
0707
1913
0749
1927
1542
1334
0407
1023
2128
0512
0809
0217
0344
2126
1606
1056
1936
0643
1442
0735
2136
0441
2039
0633
1259
1701
1108
1711
0849
0835
1852
1143
2017
2215
2150
2148
2332
1236
1153
0604
1611
0937
0653
2242
1019
2002
0733
1923
1431
1006
0737
1013
0437
0938
21:58
2247
1339
1403
1643
1008
1851
0542
1952
2037
2229
1238
1141
1928
0807
1526
1807
0734
1456
1926
0458
1607
0858
1605
2228
1234
1027
2201
1357
1653
0645
1:02
15:44
1044
1633
0819
0808
0748
1351
1324
1332
0137
1856
2326
1656
0636
1814
1707
0839
1619
2106
0838
0012
1659
0230
2036
19:25
1922
2041
06:55
0747
1447
09:25
1941
0039
1726
1:35
1504
0852
1944
1823
2248
0932
1601
0026
01:01
00:7
0456
1249
0620
1909
1949
2005
1532
1344
1546
1908
0629
2058
2353
2135
1127
0525
245
1622
1811
1544
0921
0713
1712
1824
0853
0847
1326
2110
1440
0434
2044
1609
1907
0250
0514
1809
1227
0934
1113
1616
0145
02:55
1104
05:40
0104
0801
0927
1137
1213
0613
1521
0303
0911
1522
1458
0814
2049
16:30
0811
2155
1122
1103
1536
1828
1649
0758
0408
1728
0637
2009
0919
0901
1138
0714
0741
1408
0209
c 07:00
0427
2119
0717
1523
1343
2321
13:39
0232
0716
1256
0719
2134
1947
0621
2138
0855
0625
01:00
0034
0702
0158
1911
1251
1524
0944
1451
1319
1812
2156
2143
1624
0502
0851
1505
0326
1109
0605
1512
2232
175
1058
0752
0110
16:43
1304
1208
1116
1946
0156
1754
1446
2016
2105
1148
2250
1834
1359
1328
1253
1222
1755
2347
0824
1704
0316
2241
0827
1302
15:15
1803
1554
1438
0306
0016
0739
0349
0142
0723
1931
0032
0728
2141
1646
1314
11:3
0015
0508
0823
16:05
0033
21:41
1054
0152
2108
1621
1804
1128
1644
1733
1212
1901
1221
0208
0443
14:35
1846
10:15
0903
1042
0926
2335
1543
0916
1819
1021
1629
0608
02:30
11:23
1517
2132
1422
0941
2251
2028
0843
1957
1955
1857
0431
1026
0913
0444
0220
1356
0917
1628
2259
2256
1237
0746
05:30
2218
1322
1604
1506
2227
1111
1739
0455
1232
1203
0744
0607
1134
0417
2316
0036
0136
0948
2327
1503
0357
2358
1818
0151
1114
0500Z
1531
1041
0327
0559
0119
0149
1939
0554
1228
1211
0449
1159
0241
0147
0618
0019
0341
0249
1723
0527
1402
1216
1731
1702
0631
0253
0729
0722
1914

In [20]:
time_dtypes = set()
for x in df2.time:
    time_dtypes.add(type(x))
print(time_dtypes)

{<class 'str'>}

In [21]:
time_1st_char = {}
for x in df2.time:
    if x[0] in time_1st_char.keys():
        time_1st_char[x[0]] += 1
    else:
        time_1st_char[x[0]] = 1
print(time_1st_char)

{'1': 1884, '?': 1504, '0': 1078, '2': 503, 'c': 38, '9': 1}

In [22]:
for x in df2.time:
    if x[0] == '9':
        print(x)

900

In [23]:
for x in df2.time:
    if x[0] == 'c':
        print(x)

c 18:00
c 02:30
c 12:00
c 13:15
c 11:00
c 9:15
c 10:00
c 17:00
c:17:00
c 15:45
c: 2:00
c 16:00
c 08:00
c:09:00
c 13:00
c 20:40
c 23:00
c 09:00
c 10:00
c 20:35
c 20:40
c 15:00
c 11:15
c 01:00
c 02:00
c 03:30
c 20:15
c 10:30
c 20:00
c 13:40
c 11:30
c 02:50
c 11:45
c 20:15
c 06:30
c 02:00
c 12:00
c 07:00

In [24]:
for x in df2.time:
    if x[-1] == 'Z':
        print(x)

02:09Z
03:50Z
17:34Z
01:00Z
0500Z

In [25]:
'0000' in df2.time.unique(), '00:00' in df2.time.unique()

(True, False)

In [26]:
midnight_count = 0
for x in df2.time:
    if x == '0000':
        midnight_count +=1
print(midnight_count)

1

In [27]:
def time_formatter(series):
    new_series = []
    for i in range(len(series)):
        if series[i][0:2] == 'c ':
            time_ok = series[i].replace('c ', '')
        elif series[i][0:3] == 'c: ':
            time_ok = series[i].replace('c: ', '')
        elif series[i][0:2] == 'c:':
            time_ok = series[i].replace('c:', '')
        elif series[i][-1] == 'Z':
            time_ok = series[i].replace('Z', '')
        elif series[i][0] == '?':
            time_ok = '00:00'
        else:
            time_ok = series[i]
        if len(time_ok) < 4:
            time_ok = time_ok.zfill(4)
        if (len(time_ok) == 4):
            cnt = 0
            for x in range(4):
                if time_ok[x] == ':':
                    cnt += 1
            if cnt > 0:
                spl = time_ok.split(':')
                if len(spl[0]) == 1:
                    spl[0] = spl[0].zfill(2)
                else:
                    spl[1] = spl[1].zfill(2)
                time_ok = f'{spl[0]}:{spl[1]}'
        if len(time_ok) < 5:
            spl = [time_ok[0:2], time_ok[2:]]
            time_ok = f'{spl[0]}:{spl[1]}'

        new_series.append(time_ok)
    return pd.Series(new_series)

In [29]:
df2['time'] = time_formatter(df2.time)

In [30]:
time_lens = set()
for x in df2.time:
    time_lens.add(len(x))
print(time_lens)

{5}

In [31]:
for time in df2.time:
    cnt = 0
    for char in range(5):
        if time[char] == ':':
            cnt += 1
    if cnt > 1:
        print(f'PROBLEM FOUND: {x}')

### • Flight information columns (operator, flight_no, route, total_aboard, passengers_aboard, crew_aboard)

In [32]:
import requests

In [33]:
df2.operator.unique().shape

(2268,)

In [34]:
'?' in df2.operator.unique()

True

In [31]:
"""
url = "https://aviation-reference-data.p.rapidapi.com/airline/search"

operator_dict = {}

for x in pd.Series(df2.operator.unique()).sample(20):
    if x != '?':
        querystring = {"name":x}
        headers = {
            "X-RapidAPI-Key": "ad8fe13e2fmsheba48590580e9bbp15cb61jsn64c6c2c5036e",
            "X-RapidAPI-Host": "aviation-reference-data.p.rapidapi.com"
        }
        response = requests.request("GET", url, headers=headers, params=querystring)
        print(f'-----------------------------\n{x}')
        print(response.text)
        operator_dict[x] = response.text
"""

-----------------------------
Air East
[]
-----------------------------
General Air
[]
-----------------------------
Catalina Airlines
[]
-----------------------------
Finnair
[{"icaoCode":"FIN","iataCode":"AY","name":"FINNAIR","callSign":"FINNAIR","alpha3countryCode":"FIN"}]
-----------------------------
Lake Central Airlines
[]
-----------------------------
UTA
[{"icaoCode":"BTN","iataCode":"B3","name":"BHUTAN AIRLINES","callSign":"BHUTAN AIR","alpha3countryCode":"BTN"},{"icaoCode":"UTA","iataCode":"UT","name":"UTAIR AVIATION JSC","callSign":"UTAIR","alpha3countryCode":"RUS"},{"icaoCode":"RUC","iataCode":"5R","name":"RUTACA","callSign":"RUTACA","alpha3countryCode":"VEN"}]
-----------------------------
United Express  / Private
{"timestamp":"2022-11-08T02:10:06.868+00:00","status":400,"error":"Bad Request","message":"","path":"/airline/search"}
-----------------------------
Military -Royal Air Force
{"timestamp":"2022-11-08T02:10:07.375+00:00","status":400,"error":"Bad Request","message":"","path":"/airline/search"}
-----------------------------
Aigle Azur
[{"icaoCode":"AAF","iataCode":"ZI","name":"AIGLE AZUR","callSign":"AIGLE AZUR","alpha3countryCode":"FRA"}]
-----------------------------
Hunting Air Travel
[]
-----------------------------
Palwaukee
[]
-----------------------------
AECA Cargo
[]
-----------------------------
LAC Colombia
[]
-----------------------------
World Airways
[]
-----------------------------
Chicago Helicopter Airways
[]
-----------------------------
Transportes Aereos del Caribe
[]
-----------------------------
Allied Services Limited
[]
-----------------------------
Transair
[]
-----------------------------
Aerosucre Colombia
[]
-----------------------------
Air Mali
[]

In [32]:
url = "https://aviation-reference-data.p.rapidapi.com/airline/search"

querystring = {"name":"Cabo Verde Airlines"}

headers = {
	"X-RapidAPI-Key": "ad8fe13e2fmsheba48590580e9bbp15cb61jsn64c6c2c5036e",
	"X-RapidAPI-Host": "aviation-reference-data.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

[]

In [35]:
df2.loc[df2.all_aboard == '?']

,date,time,accident_location,operator,flight_no,route,ac_type,registration,cn_ln,all_aboard,passengers_aboard,crew_aboard,total_fatalities,passenger_fatalities,crew_fatalities,ground_fatalities,summary,year
26,1919-07-21,16:55,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,?,Shuttle,FD Type Dirigible,?,?,?,?,?,3,2,1,10,"The dirigible, cruising at 1,200 ft. caught fi...",1919
103,1925-09-07,00:00,"Toul, France",CIDNA,?,?,Spad 33,?,?,?,?,?,?,?,?,?,?,1925
347,1934-08-10,00:00,"Ningbo, China",China National Aviation Corporation,?,?,Sikorsky S-38B,?,?,?,?,?,?,?,?,?,?,1934
384,1935-08-13,00:00,"Hangow, China",China National Aviation Corporation,?,?,Sikorsky S-38B,NV40V,?,?,?,?,?,?,?,?,Destoryed in a storm.,1935
451,1936-12-26,00:00,"Nanking, China",China National Aviation Corporation,?,?,Douglas DC-2,NC14269,?,?,?,?,?,?,?,?,?,1936
652,1942-10-01,00:00,"Kunming, China",China National Aviation Corporation,?,?,Douglas C-47,69,?,?,?,?,?,?,?,?,Crashed while attempting to land after losing ...,1942
754,1944-11-09,00:00,"Seljord, Norway",Military - U.S. Army Air Corps,?,?,?,42-52196,?,?,?,?,?,?,?,?,?,1944
854,1946-03-18,00:00,"Between Chungking and Shanghai, China",China National Aviation Corporation,?,Chunking - Shanghai,?,139,?,?,?,?,?,?,?,?,Disappeared while en route. Plane never located.,1946
1231,1951-01-20,00:00,"Huilyo, Peru",Military - TAM,?,?,Douglas DC-3,?,?,?,?,?,16,?,?,?,?,1951
1362,1952-12-22,00:00,"Damascus, Syria",Syrian Air,?,?,Douglas DC-3,?,?,?,?,?,9,?,?,?,?,1952
1386,1953-04-10,00:00,"Near Anchieta Island, Brazil",REAL,?,?,Doublas Dc-3,?,?,?,?,?,26,?,?,?,?,1953
1451,1954-03-13,00:00,"Dien Bien Phu, South Vietnam",Aigle Azur,?,?,C-46,?,?,?,?,?,?,?,?,?,Shot down.,1954
1577,1956-06-13,00:00,Over North Carolina,Piedmont,?,?,Douglas DC-3,?,?,?,?,?,1,1,?,0,A passenger fell to his death after the door o...,1956
1627,1957-04-20,00:00,"Jirkouk, Iraq",Air France,?,"Tehran, Iran - Istanbul, Turkey",Lockheed Super Constellation,F-BGNE,4514,?,?,?,1,1,0,0,Explosive decompression. A passenger was sucke...,1957
1638,1957-06-24,00:00,"Horn Island, Queensland, Australia",Adastra Airways,?,?,L-Hudson,?,?,?,?,?,6,?,?,?,Crashed on approach.,1957
3553,1989-05-09,00:00,"Near Tainjin, China",Aero Asahi,?,?,Bell 412,JA9596,33070,?,?,?,10,?,?,0,?,1989
3752,1992-02-20,00:00,En route from Argentina to California,Aerolineas Argentinas,386,?,Boeing B-747,?,?,?,?,?,1,?,?,0,A passenger died of cholera while en route.,1992

### • Aircraft information columns (ac_type, registration, cn_ln)

### • Accident information columns (accident__location, total_fatalities, passenger_fatalities, crew_fatalities, ground_fatalities, summary)

In [36]:
# df_t.loc[df2.passenger_fatalities != (df2.crew_fatalities + df2.passenger_fatalities +)]
df2.loc[df2.passenger_fatalities == df2.crew_fatalities].passenger_fatalities.value_counts()

?     231
1      78
0      74
2      63
3      23
4      11
5       4
7       3
8       3
9       3
6       2
21      1
Name: passenger_fatalities, dtype: int64

In [37]:
df2.loc[df2.passenger_fatalities == '?'].ground_fatalities.value_counts()

0     212
?      16
53      1
37      1
36      1
5       1
1       1
4       1
3       1
Name: ground_fatalities, dtype: int64

In [38]:
df2.loc[(df2.passenger_fatalities == '?') & (df2.crew_fatalities != '?')]

,date,time,accident_location,operator,flight_no,route,ac_type,registration,cn_ln,all_aboard,passengers_aboard,crew_aboard,total_fatalities,passenger_fatalities,crew_fatalities,ground_fatalities,summary,year
628,1942-01-20,00:00,"Kupang, Indonesia",Military - Royal Australian Air Force,?,?,Lockheed Hudson,A16-79,414-1933,11,7,4,11,?,4,0,Shortly after taking off the left engine caugh...,1942
1306,1952-02-07,00:00,"Kaneko, Japan",Military - U.S. Air Force,?,?,Boeing B-29,?,?,13,?,13,13,?,13,5,The military plane crashed into several houses...,1952
1825,1960-04-18,00:00,"Stephenville, Newfoundland",Military - U.S. Air Force,?,Dover-Stephenville - Lajes - Mildenhall,Douglas C-124C Globemaster,52-1062,43971,9,?,9,9,?,9,0,Failed to gain altitude on take off and struck...,1960
4770,2010-07-05,17:40,"Tuzla, Romania",Military - Romainian Air Force,?,Tuzla - Tuzla,Antonov AN-2,53,1G194-53,14,10,4,12,?,3,0,"The military plane, on parachuting training fl...",2010

In [40]:
from geopy.geocoders import Nominatim, ArcGIS
from geopy.extra.rate_limiter import RateLimiter

geolocator = Nominatim(user_agent='acidminded')
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
nom = ArcGIS()

In [41]:
loc_coors = {}
problematic_locations = []

In [43]:
'''
for x in df2.accident_location:
    coor = nom.geocode(query=x)
    try:
        loc_coors[x] = {'lat':coor.latitude, 'lon':coor.longitude}
        #print(f'\nQuery: {x}\nResult: {coor}\n • Lat: {coor.latitude}\n • Lon: {coor.longitude}\n--------------------------------')
    except AttributeError:
        problematic_locations.append(x)
        #print(f'Problem found: {x}')
    

print(problematic_locations)

# OUTPUT:

# ['Rossaugpt, Czechoslovakia', '?', '?', '?', '?', 'Batataevka, USSR', 'Near Hourghada, UAR', 'Near Adler, USSR', '?', 'Near Enisseysk, USSR', 'Southern Belarus, USSR', 'Near Kutayissi, USSR', 'Talourow Island, USSR', 'Nagoro-Karabak, USSR']
'''

['Rossaugpt, Czechoslovakia', '?', '?', '?', '?', 'Batataevka, USSR', 'Near Hourghada, UAR', 'Near Adler, USSR', '?', 'Near Enisseysk, USSR', 'Southern Belarus, USSR', 'Near Kutayissi, USSR', 'Talourow Island, USSR', 'Nagoro-Karabak, USSR']

In [42]:
updated_locations = {'Rossaugpt, Czechoslovakia': ['Rozvadov, Czech Republic'],
                     'Batataevka, USSR': ['Batayevka, Russia'],
                     'Near Hourghada, UAR': ['Hurghada, Egypt'],
                     'Near Adler, USSR': ['Adler, Russia'],
                     'Near Enisseysk, USSR': ['Yeniseysk , Russia'],
                     'Southern Belarus, USSR': ['Pinsk, Belarus'],
                     'Near Kutayissi, USSR': ['Kutaisi, Georgia'],
                     'Talourow Island, USSR': ['Taymyr Island, Russia'],
                     'Nagoro-Karabak, USSR': ['Nagorno-Karabakh,  Azerbaijan']
                     }

In [57]:
# Here we get the coordinates for the problematic locations using their updated names
'''
problematic_locations2 = []
for x in updated_locations:
    new_q = updated_locations[x][0]
    coor = nom.geocode(query=new_q)
    try:
        loc_coors[x] = {'lat':coor.latitude, 'lon':coor.longitude}
        #print(f'\nQuery: {x}\nResult: {coor}\n • Lat: {coor.latitude}\n • Lon: {coor.longitude}\n--------------------------------')
    except AttributeError:
        problematic_locations2.append(x)
        print(f'Problem found: {x}')
'''

In [58]:
# loc_coors['Near Adler, USSR']

{'lat': 43.43611000000004, 'lon': 39.93193000000008}

In [59]:
# loc_coors['Kaneko, Japan']

{'lat': 38.90868165000006, 'lon': 139.87539325000012}

In [61]:
# loc_coors['?'] = {'lat':0, 'lon':0}

In [62]:
# Here we save the queried data into a json file
'''
with open(r'.\coordinates.json', 'w') as coor_file:
    json.dump(loc_coors, coor_file)
'''

In [43]:
with open('coordinates.json') as json_file:
    loc_coors_r = json.load(json_file)

In [44]:
loc_coors_r['?']

{'lat': 0, 'lon': 0}

In [48]:
def get_lat(val):
    return loc_coors_r[val]["lat"]
def get_lon(val):
    return loc_coors_r[val]["lon"]

In [49]:
df2["lat"] = df2.accident_location.apply(get_lat)
df2["lon"] = df2.accident_location.apply(get_lon)
df2.head()

,date,time,accident_location,operator,flight_no,route,ac_type,registration,cn_ln,all_aboard,passengers_aboard,crew_aboard,total_fatalities,passenger_fatalities,crew_fatalities,ground_fatalities,summary,year,lat,lon
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",1908,38.882430,-77.080750
1,1909-09-07,00:00,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,1909,48.690290,2.373850
2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,1912,39.362870,-74.426370
3,1913-08-06,00:00,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,1913,48.428409,-123.365642
4,1913-09-09,18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...,1913,40.930820,-72.417000

In [ ]:
url = "https://dark-sky.p.rapidapi.com/37.774929,-122.419418,2019-02-20"

headers = {
	"X-RapidAPI-Key": "ad8fe13e2fmsheba48590580e9bbp15cb61jsn64c6c2c5036e",
	"X-RapidAPI-Host": "dark-sky.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

print(response.text)

In [45]:
import requests

url = "https://dark-sky.p.rapidapi.com/37.774929,-122.419418,1919-02-20"

headers = {
	"X-RapidAPI-Key": "ad8fe13e2fmsheba48590580e9bbp15cb61jsn64c6c2c5036e",
	"X-RapidAPI-Host": "dark-sky.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

print(response.text)

{"message":"You are not subscribed to this API."}

### Connect to SQL

In [47]:
from sqlalchemy import create_engine as ce

In [61]:
mysql_engine = ce("mysql://root:SeQueLas22!@192.168.100.112:3306/henry_pi")

In [62]:
df2.to_sql("plane_accidents", mysql_engine)

5008